@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

<!DOCTYPE html>
<html @Html.RenderLangAttribute()>

<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5TNZ7PP');</script>
<!-- End Google Tag Manager -->

    <title></title>
    <link rel="shortcut icon" href="/ResourcePackages/IHH/assets/dist/images/header/ihh-favicon.webp?1" type="image/png" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1,user-scalable=0">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="google" content="notranslate">
    
    @Html.Section("head")
    
    @if (!SystemManager.IsDesignMode)
    {
        @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/IHH/assets/dist/css/vendors/bootstrap/bootstrap.min.css"), "head", true)
    }
    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/IHH/assets/dist/css/fonts.css"), "head", true)
    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/IHH/assets/dist/css/vendors/fontawesome/all.css"), "head", true)
    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/IHH/assets/dist/css/vendors/fontawesome/fontawesome.css"), "head", true)
    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/IHH/assets/dist/css/vendors/fontawesome/brands.css"), "head", true)
    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/IHH/assets/dist/css/vendors/fontawesome/solid.css"), "head", true)
    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/IHH/assets/dist/css/vendors/select2.min.css"), "head", true)
    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/IHH/assets/dist/css/vendors/daterangepicker.css"), "head", true)
    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/IHH/assets/dist/css/vendors/slick.css"), "head", true)
    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/IHH/assets/dist/css/vendors/slick-theme.css"), "head", true)
    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/IHH/assets/dist/css/sidebar.css?ts="+DateTime.Now), "head", true)
    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/IHH/assets/dist/css/main.css?ts="+DateTime.Now), "head", true)

    @Html.Section("jqueryRef")
    @if (!SystemManager.IsDesignMode)
    {
        @Html.Script(Url.WidgetContent("~/ResourcePackages/IHH/assets/dist/js/vendors/jquery/jquery.min.js"), "jqueryRef")
    }

    </head>

    <!-- Google tag (gtag.js) : Baseline Report -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H8JV9K6GX7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-H8JV9K6GX7');
    </script>
    <!-- Google tag (gtag.js) : Baseline Report -->

    <!-- Google tag (gtag.js) : Start -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZKXGZ8DNZE"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZKXGZ8DNZE');
    </script>
     <!-- Google tag (gtag.js) : End -->

    <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5TNZ7PP"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <body class="">
       
        @Html.Section("top")
        <div class="main-container" >

            <div class="header-default">
                <nav class="navbar navbar-expand-lg fixed-top">
                <div class="container">
                    @Html.SfPlaceHolder("IHHLogo")
                    <button class="navbar-toggler collapsed pe-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="navbar-toggler-icon d-flex justify-content-end align-items-center">

                    </div>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">

                    <!-- mobile search and language -->
                    <div class="d-flex d-lg-none w-100 my-3">
                        @Html.SfPlaceHolder("IHHMobileSearch")
                        

                        @Html.SfPlaceHolder("IHHMobileLanguage")
                        <!-- language select -->
                        
                        <!-- language select end -->
                    </div>

                    @Html.SfPlaceHolder("IHHMainNavigation")
                    @Html.SfPlaceHolder("IHHLanguage")

                    <!-- search -->
                    @Html.SfPlaceHolder("IHHSearch")
                    
                    <!-- language search end -->
                    </div>
                </div>
                </nav>
            </div>

            <div class="header-spacing"></div>

            @Html.SfPlaceHolder("IHHMainContentRaw")

            @Html.SfPlaceHolder("IHHSideBar")

            <div class="footer-default">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 d-flex align-items-center">
                        <div class="footer-items d-lg-flex d-inline">
                            @Html.SfPlaceHolder("IHHFooterLegalNav")
                        </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-center">
                        <div class="social-items d-flex ms-lg-auto">
                            @Html.SfPlaceHolder("IHHFooterSocialMedia")
                        </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="copyright-text mt-4">
                            @Html.SfPlaceHolder("IHHFooterCopyRight")
                        </div>
                    </div>
                </div>
            </div>

        </div>
        @* Inline editing scripts and helpers. They should be available only when inline editing is possible. *@
        @Html.Section("inline-editing")
        @if (Html.ShouldRenderInlineEditing())
        {
            @Html.Script(ScriptRef.MicrosoftAjax, "inline-editing", true)
            @Html.Script(ScriptRef.MicrosoftAjaxCore, "inline-editing", true)
            @Html.Script(ScriptRef.JQuery, "inline-editing", true)

            @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference",
        "Telerik.Sitefinity.Resources.Scripts.jquery.ba-outside-events.min.js"), "inline-editing", true)
            @Html.Script(ScriptRef.KendoAll, "inline-editing", true)
            @Html.Script(ScriptRef.KendoTimezones, "inline-editing", true)
            @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference",
        "Telerik.Sitefinity.Resources.Scripts.RequireJS.require.min.js"), "inline-editing", true)
            @Html.InlineEditingManager(false)
        }

        @Html.Section("bottom")
        @if (SystemManager.IsDesignMode)
        {
            
        }
        else
        {
            @Html.Script(Url.WidgetContent("ResourcePackages/IHH/assets/dist/js/vendors/bootstrap/bootstrap.bundle.min.js"), "bottom")
            @Html.Script(Url.WidgetContent("ResourcePackages/IHH/assets/dist/js/vendors/md5.min.js"), "bottom")
            @Html.Script(Url.WidgetContent("ResourcePackages/IHH/assets/dist/js/vendors/moment.js"), "bottom")
            @Html.Script(Url.WidgetContent("ResourcePackages/IHH/assets/dist/js/vendors/xlsx.full.min.js"), "bottom")
            @Html.Script(Url.WidgetContent("ResourcePackages/IHH/assets/dist/js/vendors/daterangepicker.js"), "bottom")
            @Html.Script(Url.WidgetContent("ResourcePackages/IHH/assets/dist/js/vendors/select2.min.js"), "bottom")
            @Html.Script(Url.WidgetContent("ResourcePackages/IHH/assets/dist/js/vendors/select2/select2.js"), "bottom")
            @Html.Script(Url.WidgetContent("ResourcePackages/IHH/assets/dist/js/vendors/slick.min.js"), "bottom")
            @Html.Script(Url.WidgetContent("ResourcePackages/IHH/assets/dist/js/uiux/main_uiux.js"), "bottom")
            @Html.Script(Url.WidgetContent("ResourcePackages/IHH/assets/dist/js/sidebar.js"), "bottom")
            @Html.Script(Url.WidgetContent("ResourcePackages/IHH/assets/dist/js/main.js"), "bottom")
        }

    </body>

    </html>
