@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.INavigationModel

@using System.Text.RegularExpressions;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using System.Globalization;
@using SitefinityWebApp.Helpers;
@using Telerik.Sitefinity.DynamicModules.Model;
@using System.Configuration
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.RelatedData;
@*Add scripts and stylesheets*@

@{
    string cdnHost = FrontendUrlHelper.GetCDNHost();
    var localPrefix = FrontendUrlHelper.GetLocalPrefix();

    var currentUrlPath = HttpContext.Current.Request.Url.AbsolutePath;

    var urlSegment = FrontendUrlHelper.GetHospitalOrSegmentFromUrl(IHHConstants.UrlSegment);
    var hosp = FrontendUrlHelper.GetHospitalOrSegmentFromUrl(IHHConstants.HospitalName);

    var hospital = ManagerHelper.GetHospitalDynamicContents().Where(h => h.UrlName.Contains(hosp)).FirstOrDefault();

    var generalLine = "+622127899788";

    var whatsappNum = "https://wa.me/622127899788";

    //if (FrontendUrlHelper.IsHospitalPage())
    //{
    //    var generalLineItem = ManagerHelper.GetChildItems(hospital, "Telerik.Sitefinity.DynamicTypes.Model.Hospitals.Contactinfos").Where(x => x.UrlName.Contains("general-line")).FirstOrDefault();
    //    if (generalLine != null)
    //    {
    //        generalLine = generalLineItem.GetValue("CTALink").ToString();
    //    }

    //    var whatsappItem = ManagerHelper.GetChildItems(hospital, "Telerik.Sitefinity.DynamicTypes.Model.Hospitals.Contactinfos").Where(x => x.UrlName.Contains("whatsapp")).FirstOrDefault();
    //    if (whatsappItem != null)
    //    {
    //        whatsappNum = "https://wa.me/" + Regex.Replace(whatsappItem.GetValue("CTALink").ToString(), "[^0-9]", "");
    //    }
    //}
}
<div class="sidebar-default ">

    <div class="d-flex flex-column h-100 align-items-center d-md-flex d-none">
        <div class="sidebar-items d-flex flex-column my-lg-auto mt-auto text-center">
            <div class="sidebar-item">
                <a href="@FrontendUrlHelper.GetSmartUrl("appointment")" class="sidebar-item-link">
                    <i class="fa fa-calendar sidebar-item-icon"></i>
                    <div class="sidebar-item-text">@Html.Resource("Appointment", "_IHHLabel")/ @Html.Resource("Enquiry", "_IHHLabel")</div>
                </a>
            </div>
            <div class="sidebar-item">
                <a href="@whatsappNum" class="sidebar-item-link" target="_blank">
                    <i class="fab fa-whatsapp sidebar-item-icon"></i>
                    <div class="sidebar-item-text">WhatsApp</div>
                </a>
            </div>
            <div class="sidebar-item">
                <a href="tel:@generalLine" class="sidebar-item-link">
                    <i class="fas fa-phone sidebar-item-icon"></i>
                    <div class="sidebar-item-text">@Html.Resource("AskADoctor", "_IHHLabel")</div>
                </a>
            </div>

            <div class="sidebar-item">
                <a href="@FrontendUrlHelper.GetLocationHosSmartUrl("travel-guide")" class="sidebar-item-link">
                    <i class="fas fa-plane sidebar-item-icon"></i>
                    <div class="sidebar-item-text">@Html.Resource("TravelGuide", "_IHHLabel")</div>
                </a>
            </div>
        </div>
        <div class="sidebar-expand-button d-flex align-items-center justify-content-center">
            <i class="fas fa-plus "></i>
        </div>

    </div>
</div>

<!-- mobile sidebar -->
<div class="mobile-sidebar d-md-none d-flex">
    <div class="sidebar-item">
        <a href="/appointment" class="sidebar-item-link">
            <i class="fa fa-calendar sidebar-item-icon"></i>
            <div class="sidebar-item-text">Appointment/ Enquiry</div>
        </a>
    </div>
    <div class="sidebar-item">
        <a href="https://wa.me/622127899788" class="sidebar-item-link" target="_blank">
            <i class="fab fa-whatsapp sidebar-item-icon"></i>
            <div class="sidebar-item-text">WhatsApp</div>
        </a>
    </div>
    <div class="sidebar-item">
        <a href="tel:+622127899788" class="sidebar-item-link">
            <i class="fas fa-phone sidebar-item-icon"></i>
            <div class="sidebar-item-text">Ask A Doctor</div>
        </a>
    </div>
    <div class="sidebar-item">
        <a href="/travel-guide" class="sidebar-item-link">
            <i class="fas fa-plane sidebar-item-icon"></i>
            <div class="sidebar-item-text">Travel Guide</div>
        </a>
    </div>
</div>

<div class="gotop-default">
    <div class="d-flex flex-column mt-auto align-items-center">
        <div class="gotop-button d-flex align-items-center justify-content-center">
            <i class="fa fa-chevron-up"></i>
        </div>
    </div>
</div>
